:root {
  --main-text: #555;

  --bg-white: #fff;
  --bg-light: #fff;
  --bg-dark: #555;
  --bg-accent: rgb(255, 236, 239);

  --fs-h1: 3rem;
  --fs-h2: 4rem;
  --fs-h3: 3rem;
  --fs-p: 1.5rem;
}

/* Standard */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  /* border: 1px solid red; */
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--main-text);
  line-height: 1.5;
  background-color: var(--bg-light);
  text-align: center;
}

a {
  color: var(--main-text);
  text-decoration: none;
  font-size: var(--fs-p);
}

a:hover {
  border-bottom: 1px solid var(--main-text);
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
p {
  font-size: var(--fs-p);
}
strong {
  font-weight: 900;
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  margin: 1rem 0;
  font-weight: 900;
  line-height: 1;
}

/* Header & Nav */

header {
  background-color: var(--bg-white);
  padding: 1.5rem 0;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.nav {
  display: none;
}

.nav-item {
  font-weight: 900;
  margin-top: 1.5rem;
}

.nav-item a {
  font-weight: 900;
}

.show {
  display: block;
  width: 100%;
  text-align: center;
}

/* Main Containers */

.section {
  background-color: var(--bg-white);
  padding: 5rem 0;
}

#projects {
  margin-top: 2rem;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-accent {
  background-color: var(--bg-white);
  background: linear-gradient(
    0deg,
    rgb(255, 216, 216, 0.3) 0%,
    rgba(255, 216, 216, 1) 75%
  );
}

.flex-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Intro */

.intro-text {
  margin-top: 2rem;
}

.intro-text h1 strong {
  display: block;
  font-size: 3.5rem;
  color: #000;
}

/* Skills */

.skill-item {
  width: 95%;
  background-color: transparent;
  border-radius: 1rem;
  margin: 0 1rem;
  padding: 2rem 2rem;
  -webkit-box-shadow: 10px 5px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 5px 20px 0px rgba(59, 12, 12, 0.1);
}

.skill-icon {
  width: 7rem;
  margin-bottom: 2rem;
}

.skill-icon:hover {
  opacity: 0.8;
  transform: translate(0, -0.5rem);
  transform: scale(1.1, 1.1);
}

.skill-group {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
}

/* Projects */

.projects {
  background-color: var(--bg-light);
  flex-direction: column;
}

.project-img {
  width: 95%;
  border-radius: 1rem;
  background-color: var(--bg-light);
  margin: 1rem 0;
  -webkit-box-shadow: 10px 5px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 5px 20px 0px rgba(59, 12, 12, 0.1);
}

.social-list {
  flex-direction: row;
  margin: 2rem 0;
}

.social-list-item {
  margin-top: 2rem;
  font-weight: 900;
  margin: 0 2rem;
}

.social-list-item:hover {
  opacity: 0.8;
  transform: translate(0, -0.5rem);
  transform: scale(1.1, 1.1);
}

/* Media Queries */

@media screen and (min-width: 1400px) {
  .skills {
    flex-direction: row;
  }

  .skill-item {
    width: 33%;
  }

  .skill-icon {
    max-width: 33%;
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 62.5%;
  }

  .intro-text {
    margin: 0;
  }

  .social-list {
    margin: 0;
  }

  .show {
    width: auto;
  }

  .header-content {
    flex-direction: row;
  }

  .skills {
    margin: 0 auto;
    width: 95%;
  }

  .projects {
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
    width: 95%;
  }

  .project-img {
    margin: 1rem 2rem;
    max-width: 25%;
  }
}
